@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script&family=Fuzzy+Bubbles:wght@700&family=Inconsolata:wght@300&family=Roboto&family=Roboto+Slab:wght@300&family=Splash&family=Titan+One&display=swap');

body {
  background-color: black;
  background-image: url(./images/black-wallpaper-19.jpg);
  background-size: cover;
}
li {
  list-style: none;
  display:inline-block;
  margin: 2px;
}
h1 {
  color: white;
}
p{
  color: white;
}
.card-photo {
  border-radius: 50%;
  /* width: 90px; */
  height: 250px;
  margin-top: 7px;
  margin-bottom: 9px;
}
.card {
  position: fixed;
  left: 0;
  /* padding-left: 10px; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.856); */
  max-width: 300px;
  margin-left: 18px;
  text-align: center;
  background-color: #ffebcd29;
  border-radius: 10px;
  border-top-left-radius: 26%;
  border-top-right-radius: 26%;
}

.title {
  color: rgb(255, 252, 252);
  font-size: 18px;
  font-weight: bold;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 75%;
  font-size: 18px;
  border-radius: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: rgb(255, 254, 254);
}

button:hover, a:hover {
  opacity: 0.7;
}

.bio {
  position: fixed;
  width: 50%;
  margin-left: 386px;
  border-radius: 10px;
  background-color: #ffebcd29;
}
.bio-title {
  padding-left: 50px;
  color: #000;
}

.bio-text::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}
.bio-text:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.bio-text::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: rgba(0, 0, 0, 0.384);
  z-index: -1;
  transition: transform .3s ease;
}

.bio-text {
  position: relative;
  font-size: 18px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 10px;
}

.hobby-card {
  width: 23%;
  margin-left: 385px;
  margin-top: 360px;
  position: absolute;
  border-top-left-radius: 76px;
  background-color: #ffebcd29;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.card-img-top {
  width: 288px;
  height: 141px;
  border-top-left-radius: 76px;
  border-bottom-right-radius: 76px;

}

.card-text {
  padding-left: 8px;
}
.hobby-cards {
  width: 23%;
  margin-left: 748px;
  margin-top: 360px;
  position: absolute;
  border-top-left-radius: 76px;
  background-color: #ffebcd29;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 213px;
}
.card-content {
  background-color: whitesmoke;
  width: 48vh;
  height: 41vh;
  margin-left: 2px;
  top: 0;
  position: static;
  border-top-left-radius: 60px;

}
.line-bottom {
  background-color: whitesmoke;
  height: 3vh;
  width: 33vh;
  margin-left: 1136px;
  margin-top: 355px;
  border-top-left-radius: 17px;
}
.line-bottom-right {
  background-color: whitesmoke;
  height: 30vh;
  width: 3vh;
  margin-left: 1335px;
  margin-top: -217px;
  border-top-left-radius: 17px;
}